label.formTitle {
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    border-bottom-color: #154030;
}

label.formLabel {
    text-align: left;
    padding-top: 1rem;
}
