.ForgotPassword {
    text-align: left;
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 720px;
    position: relative;
    font-family: 'Athiti', sans-serif;
    text-transform: uppercase;
}

label.formTitle {
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    border-bottom-color: #154030;
}

label.formLabel {
    text-align: left;
    text-transform: none;
}

input.emailInput, input.emailInput:focus {
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: rgba(255,255,255,.1);
}

label.emailInput {
    text-align: left;
    display: block;
    color: #aaa;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 1.5em;
}

button.emailInput {
    margin-top: 1em;
    display: block;
    background: #154030;
    width: 100%;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    text-transform: uppercase;
}

button.emailInput:hover {
    background: #0b2d23;
}

.forgotPasswordForm {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: block;
    border: none;
    padding: 70px 70px 50px 70px;
    border-radius: 15px;
    background: #1E5C45;
}