.choicesContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.choice {
    font-size: 22px;
    padding-bottom: 5px;
    margin: 0 7.5px 10px 7.5px;
    display: inline-block;
    text-transform: uppercase;
}

.checkboxLabel {
    display: inline-block;
    margin-top: 1.2em;
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
}

.linkContainer {
    text-align: center;
    color: #aaa;
}

.linkElement:hover {
    cursor: pointer;
    color: #ffffff;
}

.linkElement::before {
    content:"";
    display: block;
    margin-bottom: 40px;
    margin-top: 50px;
    border-top: 2px solid rgba(255,255,255,.2);
}

